.wrapper {
    position: relative;
    margin-top: 100px;
    padding-left: 135px;
    width: 100vw;
    height: 100px;

    .imageWrapper {
        z-index: 10;
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: relative;
        top: 0;
        left: 0;
        display: block;
        width: 134px;
        height: 51px;
    }
}
