.wrapper {
    margin-top: -50px;
    .container {
        margin-top: 50px;
        position: relative;
        display: flex;
        padding: 0 100px;
        .nav {
            margin-top: 20px;
            margin-right: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // background-color: wheat;
            .category {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                width: 66px;
                height: 66px;
                border: 1px solid #828282;
                margin-bottom: 20px;
                margin-top: 20px;
                background-color: transparent;
                cursor: pointer;
                transition: 0.2s;
                .imageWrapper {
                    position: relative;
                    width: 24px;
                    height: 24px;
                }
            }
            .category:hover {
                // border: 1px solid #6e60df;
                background-color: #eaebf7;
            }
            .active {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 66px;
                height: 66px;
                background-color: #6e60df;
                border: none;
                border-radius: 50%;
                img {
                    fill: #fff;
                    border-color: #fff;
                    border: none;
                }
            }
            .active:hover {
                background-color: #6e60df;
            }
        }
        .messageWrapper {
            h2 {
                font-weight: 700;
                font-size: 40px;
                color: #333;
            }
            .messageContainer {
                position: relative;
                width: 950px;
                background-color: #fff;
                box-shadow: 0px 4px 4px rgba(110, 96, 223, 0.75);
                border-radius: 27px;
                padding: 30px 40px;
                margin-top: 40px;
                form {
                    position: absolute;
                    top: 66px;
                    right: 5px;

                    input {
                        width: 300px;
                        height: 50px;
                        font-size: 14px;
                        font-weight: 700;
                        color: #4f4f4f;
                        outline: none;
                        padding: 12px 24px;
                        border: 1px solid #5d5fef;
                        border-radius: 23px;
                        box-shadow: 0px 4px 4px rgba(110, 96, 223, 0.75);
                    }
                }
                .headerContainer {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h3 {
                        font-size: 20px;
                        span {
                            margin-left: 15px;
                        }
                    }
                }
                h4 {
                    color: #828282;
                    font-size: 12px;
                    margin-top: 12px;
                    margin-bottom: 50px;
                }
                p {
                    border-top: 1px solid #828282;
                    padding-top: 20px;
                    font-size: 16px;
                    color: #333;
                }
            }
        }
    }
}
