.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 400px;
    height: 200px;
    border-radius: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 1);
    .modal {
        background: white;
        width: 400px;
        height: 200px;
        border-radius: 15px;
        padding: 16px 24px;
        box-shadow: 0px 4px 4px rgba(110, 96, 223, 0.75);
        cursor: default;
        .modalHeader {
            display: flex;
            justify-content: flex-end;
            font-size: 25px;
        }
        .modalBody {
            padding-top: 10px;
        }
    }
}
